@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{margin:0;box-sizing:border-box;}
a{text-decoration:none}
label{display:block;}
img{vertical-align:bottom;}
ul{list-style:none;padding:0;}
button{cursor:pointer;padding:0;}

html{
    font-size:15px; 
    --ff: "Montserrat", serif; 
    --kus:"Kaushan Script", serif;
    --y:#fce38a;
    --red:#f38181;
    --green:#95e1d3;
    --grad:linear-gradient(#f38181e6,#fce38ae6);
 }
body{font:16px/1.2 var(--ff);}
.kus{ font-family: var(--kus);}


.container{max-width:1230px;margin:auto;padding:0 1rem;}
.row{display:grid;grid-template-columns:repeat(12,1fr);gap:2rem;}
.col-1{grid-column:span 1;}
.col-2{grid-column:span 2;}
.col-3{grid-column:span 3;}
.col-4{grid-column:span 4;}
.col-5{grid-column:span 5;}
.col-6{grid-column:span 6;}
.col-7{grid-column:span 7;}
.col-8{grid-column:span 8;}
.col-9{grid-column:span 9;}
.col-10{grid-column:span 10;}
.col-11{grid-column:span 11;}
.col-12{grid-column:span 12;}

.img-resp{ max-width: 100%; height: auto;}
.flex{display:flex;}
.flex .col-auto{ flex: 1 0 20% }
.align-center{align-items:center;}
.justify-right{ justify-content: right; }
.justify-space-bet{justify-content:space-between;}


/* custom */

.wrap-1{ background: url(../img/bg1.webp) no-repeat center top/cover; color: #fff;}
header{ padding: 2rem 0; }
h1{ font-size: 2rem;}
h1 a{ color: inherit; }
nav li{ margin: 0 2rem;}
nav a{ text-transform: uppercase; color: inherit; font-size: 14px; display: block; line-height: 36px; border-bottom: 3px solid transparent;}
nav a.active{ color: var(--y); border-bottom-color: var(--y);}
.cart{ background: none; border: navajowhite; font-size: 18px; color:inherit;}
.search{ background: none; border: none; font-size: 18px; color: inherit;}
.banner{ text-align: center; padding: 10rem 0 2rem 0;}
.banner .kus{ font-size: 5rem;}
.banner .caption{ font-size: 10rem; font-weight: bold;}
.sep{ width: 60px; height: 3px; margin: 50px auto; background: var(--red);}
.wrap-1 .sep{ background: #fff;}
.banner a{ display: inline-block; width: 140px; border: 3px solid; color: #fff; font: bold 14px/34px var(--ff); }
.banner .slides{ margin-bottom: 10rem;}
.banner .slide{ display: none;}
.banner .slide.active{ display: block}
.pager li{ flex:  0 1 25%; margin: 0 1rem; }
.pager .progress{ height: 3px; background: #fff; position: relative; }
.pager p{ font-size: 18px; text-align: left; margin-top: 25px; opacity: 0.7;}
.pager li.active p{ opacity: 1;}
.pager p b{ font-size: 24px;}
.pager .active .progress::before{ content: ''; position: absolute; left: 0; bottom: 0; top: 0; width: 0; background: var(--red); animation: changewidth 5s 1 linear;}
@keyframes changewidth{0%{ width: 0;}100%{ width: 100%;}}


.wrap-2{ padding: 90px 0 110px; text-align: center; }
section .kus{ font-size: 24px; }
section h2{ font-size: 30px; text-transform: uppercase; margin-top: 20px; }
.para{ font: 15px/24px roboto,sans-serif; color: #999;}
.story{ margin-top: 6rem; position: relative;}
.over{ position: absolute; inset: 0; background: var(--grad); opacity: 0; transition: .3s;}
.caption{ display: grid; height: 100%; font-size: 18px; color: #fff; place-items: center;}
.story:hover .over{ opacity: 0.9; transform: translate(-10px, -10px); box-shadow: 10px 10px 0 var(--green); }


.wrap-3{ background: var(--green); padding: 6rem 0; text-align: center; color: #fff;}
.wrap-3 .num{ font-size: 72px; font-weight: 700;}
.wrap-3 .text{ font-size: 14px;}


.wrap-4{  padding: 90px 0 110px; text-align: center; }
.s-l svg{ margin: 0 2rem;}
.s-r{ text-align: left;}
.wrap-4 h3{ font-size: 14px; color: #333; margin-bottom: 10px;}
.wrap-4 .row{ background: #e5e5e5; gap: 1px 0 }
.wrap-4 .row .col-4{ background: #fff;}
.wrap-4 .row .col-4 .flex{ margin: 2rem 0;}



.wrap-5{ position: relative; padding: 90px 0 0 0; text-align: center; background: url(../img/bg2.webp) no-repeat center top/cover; }
.iphone{ position: absolute; bottom: -55px; transform: translateX(-86px);}



.wrap-6{ padding: 90px 0 0 0; text-align: center;}


.wrap-7{ padding: 70px 0; background: #f8f8f8; text-align: center;}


.wrap-8{ padding: 90px 0 0 0; text-align: center;}
.team{ margin-top: 6rem;}
.team-pic{ position: relative; margin-bottom: 20px;}
.over{ position: absolute; inset: 0; background: var(--grad); opacity: 0; transition: .3s;}
.caption{ display: grid; height: 100%; place-items: center;}
.team-pic:hover .over{ opacity: 1; transform: translate(-10px, -10px); box-shadow: 10px 10px 0 var(--green); }
.caption li:not(:first-child){ border-left: 1px solid var(--red); }
.caption a{ display: block; width: 56px; line-height: 56px; background: var(--y); color: var(--red); font-size: 24px; }
.caption a:hover{ background: var(--red); color: var(--y);}


.wrap-9{ padding: 70px 0; background: #f8f8f8; text-align: center;}


.wrap-10{ padding: 70px 0; background: #fff; text-align: center;}
.cs{ height: 100%;}
.work{ position: relative;}
.row.g0{ gap: 0;}
.over{ position: absolute; inset: 0; background: var(--grad); opacity: 0; transition: .3s;}
.caption{ display: grid; height: 100%; place-items: center;}
.work:hover .over{ opacity: 1;}







/* responsive */
@media screen and (max-width:1250px){
    html{font-size:14px;}
}


@media screen and (max-width:980px){
    .col-t-1{grid-column:span 1}
    .col-t-2{grid-column:span 2}
    .col-t-3{grid-column:span 3}
    .col-t-4{grid-column:span 4}
    .col-t-5{grid-column:span 5}
    .col-t-6{grid-column:span 6}
    .col-t-7{grid-column:span 7}
    .col-t-8{grid-column:span 8}
    .col-t-9{grid-column:span 9}
    .col-t-10{grid-column:span 10}
    .col-t-11{grid-column:span 11}
    .col-t-12{grid-column:span 12}
    nav li{ margin: 0 1rem;}
    .banner .caption{font-size: 8rem;}
}


@media screen and (max-width:767px){
        html{font-size:13px}
        .col-m-1{grid-column:span 1}
        .col-m-2{grid-column:span 2}
        .col-m-3{grid-column:span 3}
        .col-m-4{grid-column:span 4}
        .col-m-5{grid-column:span 5}
        .col-m-6{grid-column:span 6}
        .col-m-7{grid-column:span 7}
        .col-m-8{grid-column:span 8}
        .col-m-9{grid-column:span 9}
        .col-m-10{grid-column:span 10}
        .col-m-11{grid-column:span 11}
        .col-m-12{grid-column:span 12}
        .iphone{ right: 0; transform: translateX(0); }
        .caption a{  width: 36px; line-height: 36px;}
}
    
    
@media screen and (max-width:480px){
    .col-p-4{grid-column:span 4}
    .col-p-6{grid-column:span 6}
    .col-p-12{grid-column:span 12}
    nav{ display: none;}
    .banner .caption{font-size: 4rem;}
    .banner .kus{ font-size: 3rem;}
    .wrap-3 .flex{ flex-flow: row wrap; }
    .wrap-3 .flex .col-auto{ flex: 1 0 50%; max-width: 100%; }
    .iphone{ width: 150px; height: 313.6px; }
}